@media print {
  @page { size: landscape; margin: 0.5in 0.5in 0 0; }

  BODY {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
  }

  A:link, A:visited { color: #000000; }

  #outer-wrap { background: transparent; }

  #wrap, ARTICLE.noside { width: 100%; }

  HEADER, .title, .calendar-header, .weekdays, FOOTER { display: none; }

  #content-wrap {
    width: 100%;
    background: transparent;
    border-top: 0;
    top: 0;
  }

  .calendar TABLE { width: 10in; height: 7.5in; margin: 0 auto; }

  .calendar TABLE TD { height: 14.28%; }

  .calendar TABLE TD .spacer:before,
  .calendar TABLE TD.blanks .spacer:before { padding-top: 0; }

  .calendar TABLE TD.blanks .blank_date { display: block; }

  .calendar TABLE TD .cal-location,
  .calendar TABLE TD .cal-time {
    font-size: 80%;
    line-height: 1.2em;
  }

  .calendar TABLE TD .cal-stage,
  .calendar TABLE TD .cal-additional {
    font-size: 70%;
    line-height: 1.2em;
  }
}